<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('bulma') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.10/lottie.min.js"></script>
        <link rel="stylesheet" href="{{ asset('../css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/bandeauPhoto.css') }}">
        <link rel="stylesheet" href="{{ asset('../css/programm.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
        <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet' type='text/css'>



    </head>
    <body>
        {% include "nav.html.twig" %}
        {% block body %}{% endblock %}
    
    </body>
    <footer>
    <script src="{{ asset('../js/app.js') }}"></script>    
    </footer>
</html>