<!DOCTYPE html>
<html>
    <head>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="{{ asset('../js/app.js') }}"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {{ encore_entry_link_tags('bulma') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.10/lottie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="{{ asset('../css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('../css/bandeauPhoto.css') }}">
    <link rel="stylesheet" href="{{ asset('../css/programm.css') }}">
    <link rel="stylesheet" href="{{ asset('../css/hebergement.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet' type='text/css'>
    <script src="{{ asset('../js/hebergement.js') }}"></script>
</head>


    <body>
        {% include "nav.html.twig" %}
        {% block body %}{% endblock %}
    
    </body>
    <footer>
     
    
    </footer>
</html>