<!-- navbar.html.twig -->
<script type="module" src="{{ asset('/js/MatrixCodeRainComponent.js') }}"></script>


{% if isAuthenticated %}

<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ path('app_user') }}">
    <div>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <lord-icon
    src="https://cdn.lordicon.com/dkobsluq.json"
    trigger="hover"
    colors="outline:#121331,primary:#ffc738,secondary:#f28ba8,tertiary:#f9c9c0,quaternary:#ebe6ef"
    style="width:50px;height:50px">
    </lord-icon>
    </div> 
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item navbar-item-transparent" href="{{ path('app_program') }}">
        Programme
      </a>

      <a class="navbar-item navbar-item-transparent" href="{{ path('app_access') }}">
        Le lieu
      </a>

      <a class="navbar-item navbar-item-transparent" href="{{ path('app_hebergement') }}">
        Hébergement
      </a>

      <div class="navbar-end">
        <a class="navbar-item navbar-item-transparent" href="{{ path('app_photos') }}">
        Trombinoscope
        </a>
      </div>

{% if isAuthenticated %}
  <a class="navbar-item navbar-item-transparent" onClick="toggleMatrixCodeRain()" href="{{ path('app_surpise') }}"> 
    Enter into Matrix
  </a>
  <div id="matrix-code-rain-container"></div>
{% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        
      
  

{% if hasUserData %}
    <!-- L'utilisateur a des données, afficher le bouton -->
    <button class="button is-light" id="clic-moi-button1">
      <a href="{{ path('app_guest_question_edit') }}">
        Mon Profil
      </a>
    </button>

{% else %}
    <!-- L'utilisateur n'a pas de données, afficher le bouton -->
    <button class="button clic-moi-button is-light custom-text-color" id="clic-moi-button">
      <a href="{{ path('app_guest_question') }}">
        <img src="/img/attention.png">  Formulaire
      </a>
    </button>
  {% endif %}
    {# L'utilisateur est connecté, masquer les boutons #}          
          <a class="button is-light" href="{{ path('app_logout') }}">
            Déconnexion
          </a>
{% else %}

            <hr>
            <div class="navbar-end">      
    <a class="button is-primary" href="{{ path('app_register') }}">
          <strong>Inscription</strong>
          </a>
          <a class="button is-light" href="{{ path('app_login') }}">
            Se connecter
          </a>
          </div>
          
            <hr>
{% endif %}

        </div>
      </div>
    </div>
  </div>
</nav>

